{% extends "base.html" %}

{% block content %}
<h1>Nature Stories & Inspirations</h1>
<p>Join Us on Our Green Journey</p>
<ul>
  {% for post in post_list %}
    <li>
      <a href="{% url 'post_detail' post.pk %}">{{ post.title }}</a>
      <p>{{ post.content|truncatewords:30 }}</p>
    </li>
  {% endfor %}
</ul>

<!-- Pagination -->
<div class="pagination">
    <!-- Display current page and total pages -->
    <span>Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</span>
    <div>
        <!-- "Previous" link (only shown if there's a previous page) -->
        {% if page_obj.has_previous %}
            <a href="?page={{ page_obj.previous_page_number }}">Previous</a>
        {% endif %}

        <!-- Page number links, show only those within a reasonable range from the current page -->
        {% for num in page_obj.paginator.page_range %}
            {% if num == page_obj.number %}
                <!-- Current page, not a link, just bold text -->
                <strong>{{ num }}</strong>
            {% elif num > page_obj.number|add:"-3" and num < page_obj.number|add:"3" %}
                <!-- Display other page numbers as links -->
                <a href="?page={{ num }}">{{ num }}</a>
            {% endif %}
        {% endfor %}

        <!-- "Next" link (only shown if there's a next page) -->
        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">Next</a>
        {% endif %}
    </div>
</div>

{% endblock %}

