{% extends 'nature/base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container">
  <!-- Post Details -->
  <h1>{{ post.title }}</h1>
  <p>{{ post.content|safe }}</p>
  <p>Published on {{ post.created_at|date:"F j, Y" }}</p>


{% if post.author == user or user.is_superuser %}
<a href="{% url 'post_update' post.slug %}" class="btn btn-warning">Edit</a>
<a href="{% url 'post_delete' post.slug %}" class="btn btn-danger">Delete</a>
{% endif %}
<a href="{% url 'post_list' %}" class="btn btn-secondary">Back to posts</a>

  <hr>

  <!-- Comments Section -->
  <div class="comments-section">
    <h3>Comments:</h3>
    {% for comment in post.comments.all %}
      <div class="comment">
        <p><strong>{{ comment.author.username }}</strong> on {{ comment.created_on|date:"F j, Y" }}</p>
        <p>{{ comment.content }}</p>

        <!-- Delete button for the comment, only visible if the user is the author of the comment -->
        {% if comment.author == user %}
          <a href="{% url 'delete_comment' post.slug comment.id %}" class="btn btn-danger btn-sm">Delete</a>
        {% endif %}
      </div>
    {% empty %}
      <p>No comments yet. Be the first to comment!</p>
    {% endfor %}
  </div>


  <!-- Creating New Comments -->
  <div class="col-md-4 card mb-4 mt-3">
    <div class="card-body">
      {% if user.is_authenticated %}
        <h3>Leave a comment:</h3>
        <p>Posting as: {{ user.username }}</p>
        <form method="post" action="{% url 'add_comment' post.slug %}">
          {% csrf_token %}
          {{ comment_form | crispy }}
          <button type="submit" class="btn-comment btn-lg">Comment</button> <!-- Använd din anpassade klass för Kommentar-knappen -->
        </form>
      {% else %}
        <p>Log in to leave a comment</p>
      {% endif %}
    </div>
  </div>
</div>
{% endblock %}

